<h1>Products</h1>

<ul>
  <% Product.all.each do |product| %>
    <li>
      <strong><%= product.name %></strong>
      — <%= link_to "Show", product_path(product) %>

      <% if authenticated? %>
        | <%= link_to "Edit", edit_product_path(product) %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if authenticated? %>
  <%= link_to "New Product", new_product_path %>
<% end %>

<%= link_to "Login", new_session_path unless authenticated? %>
