<h1>New Product</h1>

<%= form_with model: @product, data: { turbo: false } do |form| %>
  <% if @product.errors.any? %>
    <p class="error"><%= @product.errors.full_messages.first %></p>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Create Product" %>
  </div>
<% end %>

<%= link_to "Cancel", products_path %>
